.MuiStepConnector-line {
    display: none !important;
}

.MuiStepConnector-root {
    height: 1px;
    background-color: rgba(29, 25, 25, 0.349);
}

.MuiStepConnector-active,
.MuiStepConnector-line,
.MuiStepConnector-completed	 {
    background-color: tomato;
}